/* GENERALES */
body {
  font-family: Arial, sans-serif;
  background: url("../img/fondo.webp") center/cover fixed no-repeat;
  color: #01fc0d;
  margin: 0;
  position: relative;
}

html, body {
  height: 100%;
  display: flex;
  flex-direction: column;
}

body::before {
  content: "";
  position: fixed;
  top: 0; left: 0; right: 0; bottom: 0;
  background: rgba(0,0,0,0.4); /* capa oscura para contraste */
  z-index: -1;
}
/* HEADER */
header {
  background: #222;
  color: white;
  padding: 15px;
}

header h1 {
  font-size: 1.8rem;
  color: #01fc0d;
}

header nav ul {
  display: flex;
  list-style: none;
  gap: 20px;
  margin: 0;
  padding: 0;
}

header nav a {
  color: white;
  text-decoration: none;
  font-weight: bold;
  transition: color 0.3s ease;
}

header nav a:hover {
  color: #0004ff;
}

/* CARRITO EN NAV */
header nav ul .carrito {
  margin-left: auto;
}
.carrito-contador {
  background: red;
  color: white;
  border-radius: 50%;
  padding: 2px 6px;
  font-size: 0.8rem;
  vertical-align: super;
  margin-left: 5px;
}

/* MAIN */
main { 
  flex: 1;
  padding: 20px; 
}

main h2 { 
  margin-bottom: 10px; 
  color: #1eff00; 
}

main p  { 
  margin-bottom: 15px; 
}

/* FOOTER */
footer {
  background: #222;
  color: white;
  text-align: center;
  padding: 20px;
  margin-top: auto;
}

footer h2{
  color:#01fc0d
}