/* INICIAR SESIÓN */
.forma-inicio {
  max-width: 400px;
  margin: 30px auto;
  background: #6e94be31;
  text-align: center;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 2px 5px rgba(0,0,0,0.1);
}

.forma-inicio label {
  display: block;
  margin-bottom: 8px;
  font-weight: bold;
}

.forma-inicio input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 12px;
}

.forma-inicio button {
  width: 100%;
  padding: 12px;
  background: #0026ff;
  color: white;
  border: none;
  border-radius: 8px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.forma-inicio button:hover {
  background: #0015cc;
}
